@using TeknikServisci.BLL.Identity
@model TeknikServisci.Models.ViewModels.ProfilePasswordViewModel
@{
	ViewBag.Title = "UserProfile";
	Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>UserProfile</h2>

