<!--Brand logo & name-->
<!--================================-->
<div class="navbar-header">
    <a href="index.html" class="navbar-brand">
        <i class="fa fa-forumbee brand-icon"></i>
        <div class="brand-title">
            <span class="brand-text">TekSer</span>
        </div>
    </a>
</div>
<!--================================-->
<!--End brand logo & name-->
<div id="mainnav">
    <!--Menu-->
    <!--================================-->
    <div id="mainnav-menu-wrap">
        <div class="nano">
            <div class="nano-content">
                <ul id="mainnav-menu" class="list-group">
                    <!--Category name-->
                    <li class="list-header">Navigation</li>
                    <!--Menu list item-->
                    <li> <a href="index.html"> <i class="fa fa-home"></i> <span class="menu-title"> Dashboard </span> </a> </li>
                    <!--Category name-->
                    <li class="list-header">Components</li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-th"></i>
                            <span class="menu-title">
                                Layouts
                            </span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="layout-blank.html"><i class="fa fa-caret-right"></i> Blank Page </a></li>
                            <li><a href="layout-boxed.html"><i class="fa fa-caret-right"></i> Boxed Version </a></li>
                            <li><a href="layout-collapsed-sidebar.html"><i class="fa fa-caret-right"></i> Collapsed Sidebar </a></li>
                            <li><a href="layout-push-menu.html"><i class="fa fa-caret-right"></i> Push Menu </a></li>
                            <li><a href="layout-slide-menu.html"><i class="fa fa-caret-right"></i> Slide Menu </a></li>
                            <li><a href="layout-horizontal-menu.html"><i class="fa fa-caret-right"></i> Horizontal Menu </a></li>
                            <li><a href="layout-horizontal-menu-boxed.html"><i class="fa fa-caret-right"></i> Boxed Horizontal </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-briefcase"></i>
                            <span class="menu-title">UI Elements</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="ui-animation.html"><i class="fa fa-caret-right"></i> CSS3 Animation </a></li>
                            <li><a href="ui-panel.html"><i class="fa fa-caret-right"></i> Panel </a></li>
                            <li><a href="ui-xeditable.html"><i class="fa fa-caret-right"></i> Xeditable </a></li>
                            <li><a href="ui-button.html"><i class="fa fa-caret-right"></i> Buttons </a></li>
                            <li><a href="ui-fontawesome.html"><i class="fa fa-caret-right"></i> Fontawesome </a></li>
                            <li><a href="ui-icons.html"><i class="fa fa-caret-right"></i> Icons </a></li>
                            <li><a href="ui-components.html"><i class="fa fa-caret-right"></i> Components </a></li>
                            <li><a href="ui-timeline.html"><i class="fa fa-caret-right"></i> Timeline </a></li>
                            <li><a href="ui-nested-lists.html"><i class="fa fa-caret-right"></i> Nested Lists </a></li>
                            <li><a href="ui-grids.html"><i class="fa fa-caret-right"></i> Grids </a></li>
                            <li><a href="ui-tab.html"><i class="fa fa-caret-right"></i> Tab </a></li>
                            <li><a href="ui-accordions.html"><i class="fa fa-caret-right"></i> Accordions </a></li>
                            <li><a href="ui-dragdrop.html"><i class="fa fa-caret-right"></i> Draggable Panel</a></li>
                            <li><a href="ui-typography.html"><i class="fa fa-caret-right"></i> Typography </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-file"></i>
                            <span class="menu-title">Pages</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="pages-faq.html"><i class="fa fa-caret-right"></i> FAQ </a></li>
                            <li><a href="pages-gallery.html"><i class="fa fa-caret-right"></i> Gallery </a></li>
                            <li><a href="pages-directory.html"><i class="fa fa-caret-right"></i> Directory </a></li>
                            <li><a href="pages-profile.html"><i class="fa fa-caret-right"></i> User Profile </a></li>
                            <li><a href="pages-invoice.html"><i class="fa fa-caret-right"></i> Invoice </a></li>
                            <li><a href="pages-login.html"><i class="fa fa-caret-right"></i> Login </a></li>
                            <li><a href="pages-register.html"><i class="fa fa-caret-right"></i> Register </a></li>
                            <li><a href="pages-password-reminder.html"><i class="fa fa-caret-right"></i> Password Reminder </a></li>
                            <li><a href="pages-lock-screen.html"><i class="fa fa-caret-right"></i> Lock Screen </a></li>
                            <li><a href="pages-404.html"><i class="fa fa-caret-right"></i> 404 Error </a></li>
                            <li><a href="pages-500.html"><i class="fa fa-caret-right"></i> 500 Error </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-table"></i>
                            <span class="menu-title">Tables</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="table-static.html"><i class="fa fa-caret-right"></i> Static Table <span class="label label-info pull-right">New</span></a></li>
                            <li><a href="table-datatable.html"><i class="fa fa-caret-right"></i> Datatable Table </a></li>
                            <li><a href="table-footable.html"><i class="fa fa-caret-right"></i> Footable Table </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-edit"></i>
                            <span class="menu-title">Forms</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="forms-layout.html"><i class="fa fa-caret-right"></i> Form Layout </a></li>
                            <li><a href="forms-switchery.html"><i class="fa fa-caret-right"></i> Form Switchery </a></li>
                            <li><a href="forms-components.html"><i class="fa fa-caret-right"></i> Form Components </a></li>
                            <li><a href="forms-validation.html"><i class="fa fa-caret-right"></i> Form Validation </a></li>
                            <li><a href="forms-wizard.html"><i class="fa fa-caret-right"></i> Form Wizard </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-line-chart"></i>
                            <span class="menu-title">Charts</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="charts-flot.html"><i class="fa fa-caret-right"></i> Flot Chart </a></li>
                            <li><a href="charts-morris.html"><i class="fa fa-caret-right"></i> Morris Chart </a></li>
                        </ul>
                    </li>
                    <li class="list-divider"></li>
                    <!--Category name-->
                    <li class="list-header">Extra</li>
                    <!--Menu list item-->
                    <li>
                        <a href="calendar.html">
                            <i class="fa fa-calendar"></i>
                            <span class="menu-title">
                                Calendar
                            </span>
                        </a>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="ui-widgets.html">
                            <i class="fa fa-flask"></i>
                            <span class="menu-title">
                                Widgets
                                <span class="label label-pink pull-right">New</span>
                            </span>
                        </a>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope-o"></i>
                            <span class="menu-title">Mail</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="mail-inbox.html"><i class="fa fa-caret-right"></i> Inbox </a></li>
                            <li><a href="mail-compose.html"><i class="fa fa-caret-right"></i> Compose </a></li>
                            <li><a href="mail-mailview.html"><i class="fa fa-caret-right"></i> Mail View </a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-map-marker"></i>
                            <span class="menu-title">
                                Maps
                                <span class="label label-mint pull-right">New</span>
                            </span>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="maps-gmap.html">Google Maps</a></li>
                            <li><a href="maps-vectormap.html">Vector Maps</a></li>
                        </ul>
                    </li>
                    <!--Menu list item-->
                    <li>
                        <a href="#">
                            <i class="fa fa-plus-square"></i>
                            <span class="menu-title">Menu Level</span>
                            <i class="arrow"></i>
                        </a>
                        <!--Submenu-->
                        <ul class="collapse">
                            <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Second Level Item</a></li>
                            <li class="list-divider"></li>
                            <li>
                                <a href="#">Third Level<i class="arrow"></i></a>
                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Third Level<i class="arrow"></i></a>
                                <!--Submenu-->
                                <ul class="collapse">
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li class="list-divider"></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                    <li><a href="#"><i class="fa fa-caret-right"></i> Third Level Item</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <!--Widget-->
                <!--================================-->
                <div class="mainnav-widget">
                    <!-- Show the button on collapsed navigation -->
                    <div class="show-small">
                        <a href="#" data-toggle="menu-widget" data-target="#demo-wg-server">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </div>
                    <!-- Hide the content on collapsed navigation -->
                </div>
                <!--================================-->
                <!--End widget-->
            </div>
        </div>
    </div>
    <!--================================-->
    <!--End menu-->
</div>
